{
  "parallel": true,
  "concurrency": 5,
  "intervalCap": 50,
  "logSize": 15,
  "directory": "",
  "mode": 1,
  "useSubfolder": true,
  "osuPath": "C:\\osu!",
  "mirror": "catboy",
  "catboyServer": "default",
  "skipExisting": true,
  "lang": "none",
  "proxy": "",
  "activeProxyIndex": -1,
  "vlessServers": []
}
